<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/beans.xml</param-value>
  </context-param>

        
        
   <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>       
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>
      org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
	
	<servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All resources</web-resource-name>
            <url-pattern>/services</url-pattern>
    
        </web-resource-collection>
        <auth-constraint>
            <role-name>everyone</role-name>
        </auth-constraint>
        <!-- require SSL
          <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint> -->
    </security-constraint>
    <!-- This is for CAC/PKI Mode   
 When changing, be sure to modify jboss-web.xml to change the security domain
 
         <login-config>
            <auth-method>CLIENT-CERT</auth-method>
            <realm-name>FGSMS Services</realm-name>
        </login-config>
    -->
    <!--This is for Username/Password mode BASIC
    When changing, be sure to modify jboss-web.xml to change the security domain    -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>FGSMS Services</realm-name>
    </login-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpage.jsp</location>
    </error-page>
    <security-role>
        <description/>
        <role-name>everyone</role-name>
    </security-role>
    
  
</web-app>
