<?xml version="1.0"?>
<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
  <extensions>
    <extension name="AgentWSE3Assertion" type="fgsms.Agents.AgentWSE3Assertion, fgsms.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eac79334c8c017da"/>
  </extensions>
  <policy name="ServicePolicy">
    <AgentWSE3Assertion/>
  </policy>
</policies>