<?xml version="1.0"?>
<configuration>
    <configSections>
        
    </configSections>
    
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!-- not used-->
        <add name="fgsms.ClientAgent" type="org.miloss.fgsms.agent.wcf.AgentWCFClientEndpointBehaviorElement, fgsms.NETAgent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eb2f31c22dc30917"/>
      </behaviorExtensions>
    </extensions>
      
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_dataAccessService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="fgsms Services" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="dataCollectorServiceBinding_IService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_WcfChain" />
        <binding name="HelloWorldBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HelloWorldBinding1" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57974/DataAccessService.svc"
        behaviorConfiguration="monitored" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_dataAccessService" contract="dataAccessService"
        name="DASPort" />
      <endpoint address="http://localhost:8080/Quickstart_webservice_proxy_basic/http/Proxy_Basic/Proxy"
        behaviorConfiguration="monitored" binding="basicHttpBinding"
        bindingConfiguration="HelloWorldBinding" contract="JbossESBProxyBasicHelloWorld.HelloWorld"
        name="HelloWorldPortProxy" />
      <endpoint address="http://localhost:41492/HelloWorldESMWCF2.svc"
                behaviorConfiguration="monitored"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
        contract="HelloWorldESMWCF2.IService1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:44593/Echo1.svc" binding="basicHttpBinding"
                behaviorConfiguration="monitored"
        bindingConfiguration="dataCollectorServiceBinding_IService1"
        contract="Echo1Client.IService1" name="dataCollectorServiceBinding_IService1" />
      <endpoint address="http://127.0.0.1:8080/Quickstart_webservice_proxy_basic_ws/HelloWorldWS"
                behaviorConfiguration="monitored"
        binding="basicHttpBinding" bindingConfiguration="HelloWorldBinding1"
        contract="JbossESBProxyBasicHelloWorld.HelloWorld" name="HelloWorldPortReal" />
      <endpoint address="http://localhost:64757/WcfChain.svc" binding="basicHttpBinding"
                behaviorConfiguration="monitored"
        bindingConfiguration="BasicHttpBinding_WcfChain" contract="WcfChain.WcfChain"
        name="BasicHttpBinding_WcfChain" />
      <endpoint address="http://localhost:36244/HelloWorldESMWCF.svc"
                behaviorConfiguration="monitored"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="WCFhelloworld.IService1" name="BasicHttpBinding_IService1" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <!-- for calling a service -->
        <behavior name="monitored">
          <fgsms.ClientAgent/>
        </behavior>

      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>


  <appSettings>
    <add key="org.miloss.fgsms.DCS.URL" value="http://localhost:8888/fgsmsServices/services/DCS"/>
    <add key="org.miloss.fgsms.PCS.URL" value="http://localhost:8888/fgsmsServices/services/PCS"/>
    <add key="org.miloss.fgsms.SS.URL" value="http://localhost:8888/fgsmsServices/services/SS"/>

    <!-- can be INFO, DEBUG, WARN, ERROR-->
    <add key="org.miloss.fgsms.loglevel" value="WARN"/>

    <add key="org.miloss.fgsms.IgnoreList" value="‎"/>
    <!-- can be ONLINE or OFFLINE
    OFFLINE = all transactions are stored to disk encrypted. These can be sent back later using the persistent storage agent
    ONLINE = normal operation
    -->
    <add key="org.miloss.fgsms.agent.operatingmode" value="ONLINE"/>
    <add key="org.miloss.fgsms.message.processor.dead.message.queue.duration" value="60000"/>
    <!-- can be None usernamePassword, or PKI -->
    <add key="org.miloss.fgsms.agent.AuthMode" value="usernamePassword"/>

    <!-- search machine store, personal/my for serial number, must have private key, key must be accessible by the current context-->
    <add key="org.miloss.fgsms.agent.AuthModePKIInfo" value="0414"/>
    <add key="org.miloss.fgsms.agent.AuthModeUsername" value="fgsmsagent"/>
    <add key="org.miloss.fgsms.agent.AuthModePassword" value="cvnWxwXoE6/ECVzrADPwFw=="/>
    <add key="org.miloss.fgsms.agent.dependencyinjection.enabled" value="true"/>
    <!-- can be HOLD = Hold the data in memory,
                PURGE = throw it away
                HOLDPERSIST = encrypt and store it to disk
                -->
    <add key="org.miloss.fgsms.agent.unavailablebehavior" value="HOLDPERSIST"/>
    <!-- everyone should be able to write to this folder since this agent can run under any user prinicple-->
    <add key="org.miloss.fgsms.agent.persistlocation" value="c:\temp\fgsms"/>
    <add key="org.miloss.fgsms.agent.policyconfigurationservice.algorithm" value="FAILOVER"/>
    <add key="org.miloss.fgsms.agent.policyconfigurationservice.retry" value="1"/>
    <add key="org.miloss.fgsms.agent.datacollectorservice.algorithm" value="FAILOVER"/>
    <add key="org.miloss.fgsms.agent.datacollectorservice.retry" value="1"/>

    <add key="org.miloss.fgsms.discovery.interval" value="60000"/>
    <add key="org.miloss.fgsms.discovery.dns.enabled" value="false"/>
    <add key="org.miloss.fgsms.discovery.uddi.enabled" value="false"/>
    <add key="org.miloss.fgsms.discovery.uddi.inquiry.url" value="http://localhost:8080/juddiv3/services/inquiry"/>
    <add key="org.miloss.fgsms.discovery.uddi.inquiry.authrequired" value="false"/>
    <add key="org.miloss.fgsms.discovery.uddi.security.url" value="http://localhost:8080/juddiv3/services/security"/>
    <add key="org.miloss.fgsms.discovery.uddi.security.username" value="root"/>
    <add key="org.miloss.fgsms.discovery.uddi.security.password" value="BxM/31xapyWiYvr1RxR0bA=="/>
    <!-- options
    EndpointBindingKey, loads from a BindingTemplate Key, this must be the unique identifier for the binding template containing 0 or more endpoints
    EndpointKeyWord, attempts to find services by name, aka the display name
    ServiceEntityKey loads from a BusinessService key, this must be the unique identifier for the business service containing 0 or more binding templates with 0 or more endpoints
    -->
    <add key="org.miloss.fgsms.discovery.uddi.lookup.findType" value="EndpointKeyWord"/>
    <add key="org.miloss.fgsms.discovery.uddi.lookup.dcs" value="uddi:juddi.apache.org:6843d553-b512-4a6b-9632-9075392b95a2"/>
    <add key="org.miloss.fgsms.discovery.uddi.lookup.pcs" value="fgsms.PCS"/>

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
