<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fgsms.NETTestSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <add key="HelloWorldASPNET2" value="http://localhost/HelloWorldASPNET2/HelloWorldASPNET2.asmx"/>
    <add key="HelloWorldASPNET2_NOT_MONITORED" value="http://localhost/HelloWorldASPNET/HelloWorldASPNET.asmx"/>
    <add key="HelloWorldESMWCFviaASPNET"  value="http://localhost/HelloWorldESMTester/HelloWorldESMWCF.svc"/>
    <add key="fgsmsadmin" value="fgsmsadmin"/>
    <add key="fgsmsadminpass" value="" />
    <add key="dataaccessservice" value="http://localhost:8080/fgsmsServices/DAS" />
  </appSettings>

  <!--http://fgsmsdev1/HelloWorldESMTester/HelloWorldESMWCF.svc
  http://fgsmsdev1/HelloWorldASPNET2/HelloWorldASPNET2.asmx
  http://localhost:36244/HelloWorldESMWCF.svc
  http://localhost:49688/HelloWorldASPNET2.asmx
  http://localhost:49688/HelloWorldASPNET2.asmx
  http://fgsmsdev1/HelloWorldESMTester/HelloWorldESMWCF.svc
  -->
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="org.miloss.fgsms.agent.AgentSoapExtension, fgsms.NETAgent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eb2f31c22dc30917" priority="1" group="High"/>
      </soapExtensionTypes>
    </webServices>

  </system.web>
  
  <system.serviceModel>


    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/HelloWorldESMTester/HelloWorldESMWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="HelloWorldESMWCF.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost/HelloWorldESMWCF2/HelloWorldESMWCF2.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
        contract="HelloWorldESMWCF2.IService1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="mex" name="fgsms.NETTestSuite.fgsmsNetServiceImpl">
        <endpoint address="" binding="basicHttpBinding" contract="fgsms.NETTestSuite.IfgsmsNetService">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/JUnitTestService"/>
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="mex" name="fgsms.NETTestSuite.fgsmsNetServiceImpl2">
        <endpoint address="" binding="basicHttpBinding" contract="fgsms.NETTestSuite.IfgsmsNetService">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12346/JUnitTestService"/>
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="mex" name="fgsms.NETTestSuite.fgsmsNetServiceImpl3">
        <endpoint address="svcBasic" binding="basicHttpBinding" contract="fgsms.NETTestSuite.IfgsmsNetService">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
        <endpoint address="svcWSBinding" binding="wsHttpBinding" contract="fgsms.NETTestSuite.IfgsmsNetService">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12347/TC00165"/>
          </baseAddresses>
        </host>
      </service>
    </services>


  </system.serviceModel>

  <applicationSettings>
    <fgsms.NETTestSuite.Properties.Settings>
      <setting name="fgsms_NETTestSuite_HelloWorldESMWCFviaASPNET_Service1"
        serializeAs="String">
        <value>http://localhost/HelloWorldESMTester/HelloWorldESMWCF.svc</value>
      </setting>
    </fgsms.NETTestSuite.Properties.Settings>
  </applicationSettings>
</configuration>
